BODY, BODY.fe, .fe FORM, .fe P, .fe H1, .fe H2, .fe H3, .fe H4, .fe H5, .fe H6, .fe UL{padding:0; margin:0}
header, nav, article, footer, address, section{display:block}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
	vertical-align:bottom;
}

ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

table tr:nth-child(even) {
    background: rgba(0,0,0,0.1);
}

.fe IMG{border:none}
.fe A{text-decoration:none; color:#004a80; outline:none;}
.fe A:hover{text-decoration:none; color:#ce171f;}
.fe UL{list-style-type:none}
.fe TD{padding:0; vertical-align:top;}
.fe P{line-height:130%; padding:3px 0 5px 0;}

.fll{float:left}
.flr{float:right}


.cc{text-align:center!important}
.cl{text-align:left!important}
.cr{text-align:right!important}
.cj{text-align:justify!important}

.upper{text-transform:uppercase}
.notransform{text-transform:none !important}
.block{display:block}
.hidden{display:none}
.bold{font-weight:bold}
.italic{font-style:italic}
.normal{font-weight:normal}

.relative{position:relative}
.absolute{position:absolute}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.hide_content {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}

/* tmp added - will copy to style.css later */
#inside_footer.showcase {
	position:fixed; z-index:999;
	bottom:0; left:0; width:100%; height:59px;
	background:none; border:none;
} 
#inside_footer.showcase .chuyengiatuvan_counter{bottom:-50px}
#inside_footer.showcase .fullsize_controller .prev{left:90px;}
#inside_footer.showcase .fullsize_controller .next{left:170px;}
#inside_footer.showcase .fullsize_controller .info{left:250px;}
.fullsize_controller .back{
	width:32px; height:33px; 
	position:absolute; top:9px; left:333px;
	background:url(imgs/xsx_i1.png) no-repeat;
}
.fullsize_controller .back:hover{background-position:0 -33px;}

.fullsize_gallery.showcase .fullsize_slide .items .detail{position:relative; overflow:visible;}
.fullsize_gallery .fullsize_slide .items .detail .testimonial{
	position:absolute; width:240px; height:146px;
	left:480px; top:51px; z-index:99;
	padding:35px 20px 20px 20px;
	background-color:#790000;
	color:#fff;
}
.fullsize_gallery .fullsize_slide .items .detail .testimonial_deco{
	background:url(imgs/testimonial_deco.png) no-repeat;
	width:26px; height:27px;
	position:absolute; z-index:99; left:520px; top:252px;
}